* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: Lato, 'Courier New', Courier, monospace;
  
}
body {
  color: #1B2B45;
  background-color: #F2F4F6; 

}

h1 {
  text-align: center;
  font-size: 52px;
  font-weight:800px;
  padding: 30px;
}

p {
    margin: 10px;
}


.wrapper {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  
}


.item-name {
  margin: 5px;
}

.single-card {
  background-color: white;
  border: 3px solid rgb(222, 156, 168);
  border-color: #1B2B45;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-list {
  max-width:300px;
  max-height: 300px;
}